@model List<App.Models.DataModels.QuibStream>

@{
    ViewBag.Title = "QuibStream";
}

<html>
<head>
    <title>Quib - Share what you know and love about great movies</title>
  <link href="~/Images/Q_favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"/>
     <link href="~/css/cropper.css" rel="stylesheet" />
  
    <script src="https://code.jquery.com/jquery-1.11.1.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous">
      </script>
     <script src="~/lib/jquery/dist/placeholder.js"></script>
    <script src="~/lib/jquery/dist/jquery-timer.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.touchSwipe.js"></script>
    <script src="~/lib/jquery/dist/withinviewport.js"></script>
    <script src="~/lib/jquery/dist/jquery.withinviewport.js"></script>
    <script src="~/js/NoSleep.js"></script>
    <script src="~/js/timeline.js"></script>
    <script src="~/js/QuibStream.js"></script>
    <script src="~/js/QuibZero.js"></script>
    <script src="~/js/MyStream.js"></script>
    <script src="~/js/timer.js"></script>
    <script src="~/js/TagMap.js"></script>
    <script src="~/js/Common.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>  
    <script type="text/javascript">
        function showLoadingGIF() {
            var deferred = $.Deferred();
            $('.popup_load').css('display', 'block');

            setTimeout(function () {
                deferred.resolve();
            },100);
            return deferred.promise();
        }

   function btnPlay() {
        var that = $(this).find('#imgPlayPause');

        enabledisableNoSleep(true);
        if (IsQuibZeroOpen) {
            if ($('#txtComposeQuib').val().length > 0) {
                $('#save-quib-modal').modal('show');
            }
            else {
                resizemystream = true;
                openmystream = false;
                $('.my-stream-panel').fadeOut();
                isNavButtonClick = false;


                if ($('#txtComposeQuib').val().length > 0) {
                    $('#save-quib-modal').modal('show');
                }
                else {
                    showLoadingGIF().then(function() {
                        // Timer font size and text
                        // Param : IsQuibZero?

                        FormatTimer(false);

                        IsQuibZeroOpen = false;

                        $('.popup_load').css('display', 'block');

                        // closing my stream panel
                        $('.my-stream-panel').addClass('hide');

                        // Param : IsQuibZero?
                        UpdateUIControls(false);

                        $('#quibContainer').empty();

                        LoadInitialQuibsQuibStream();
                        LoadAllQuibsQuibStream(initialQuibs);
                        LoadAllQuibsQuibStream(quibs);


                        setTimeout(function() {
                            $('.quib-item').css('visibility', 'visible');

                            UpdateComposeTime((ConvertTimeToSeconds($('#movieTimer').val())).toString().toHHMMSS());

                            PlayMovie();

                            // My stream compose timer                                                
                            $('.quib-compose-timer').formatTime();
                            $('.popup_load').css('display', 'none');
                        }, 3000);
                    });
                }

            }
        }
        else {
            var quibScrbrStartClick = $('#quibSlider').slider('value');
            IsIntervalTimeUP = false;
            isNavButtonClick = false;
            PlayMovie();

            // button src gets change in playmovie() function
            //if (that.attr('src') == imgPath + imgNamePause) {
            //    ClearOnlyQuibsAhead($('#movieSlider').slider('value'));
            //}
        }

    }     

        $(function () {
            $("#movieSlider").slider();
        });

        $(function () {
            $("#quibSlider").slider();
        });

        var setbool = true;
        var sliderflag = true;

        window.onload = function () {
            if (localStorage.getItem("IsBackBtnClicked") == "true") {
                location.reload();
                localStorage.setItem("IsBackBtnClicked", "false");
            }
        }

        $(document).ready(function () {

            function scrollByNew(x) {
                sliderflag = false;
                $('#quib-list').stop().animate({
                    scrollLeft: '+=' + x,
                }, 300, function () {
                    // Animation complete.
                    sliderflag = true;
                });
                event.preventDefault();
            }

            $("#quib-list").swipe({
                //Generic swipe handler for all directions
                swipeRight: function (event, direction, distance, duration, fingerCount, fingerData) {
                    slideLeft();
                },
                swipeLeft: function (event, direction, distance, duration, fingerCount, fingerData) {

                    slideRight();
                }
            });

            $('.right').click(function () {
                slideRight();
            });

            $('.left').click(function () {
                slideLeft();
            });

            function slideRight() {
                isSliderSync = false;
                if (sliderflag) {
                    isNavButtonClick = true;

                    // show all quibs
                    $('.quib-item').css('visibility', 'visible');

                    // slide right
                    
                    scrollDefferdright().then(function () {

                        //VIEWPORT START
                        var cols_array = [];
                        $(".quib-item").withinviewport().each(function () {
                            cols_array.push(parseInt($(this).attr("colmvalue")));
                        });

                        var curColumnValue = Math.min.apply(Math, cols_array) + 1;
                        //VIEWPORT END

                        var time = ConvertTimeToSeconds($(".quib-item[colmvalue='" + curColumnValue + "']").find('.quib-compose-timer').first().val());

                        $('#quibSlider').slider('value', time);
                        $('#QuibScrubber').css('background-image', "url('" + localStorage.getItem('environment') + "/Images/bottom_line.png')");
                    });
                   
                }
            }


            //slide right asynchronous

            function scrollDefferdright() {
                var deferred = $.Deferred();

                if ((parseInt($('#quibContainer').width() - $('.quib-item').width())) == 0) {
                    var scrollval = $('.quib-container').width();
                    var slidesToClick = parseInt(Math.round($('#quibContainer').width() / $('.quib-item').width()));
                }
                else {
                    var slidesToClick = parseInt(Math.round($('#quibContainer')[0].getBoundingClientRect().width / $('.quib-item')[0].getBoundingClientRect().width) - 1);
                    var scrollval = ($('.quib-item').width()) * slidesToClick;
                }
                scrollByNew(scrollval);

                setTimeout(function () {
                    deferred.resolve();
                }, 300);
                return deferred.promise();
            }

            


            function slideLeft() {

                isSliderSync = false;
                if (sliderflag) {
                    isNavButtonClick = true;

                    // show all quibs
                    $('.quib-item').css('visibility', 'visible');
                 
                    // slide right
                    scrollDefferdleft().then(function () {


                        //VIEWPORT START
                        var cols_array = [];
                        $(".quib-item").withinviewport().each(function () {
                            cols_array.push(parseInt($(this).attr("colmvalue")));
                        });

                        var curColumnValue = Math.min.apply(Math, cols_array) + 1;
                        //VIEWPORT END

                        var time = ConvertTimeToSeconds($(".quib-item[colmvalue='" + curColumnValue + "']").find('.quib-compose-timer').first().val());

                        $('#quibSlider').slider('value', time);
                        $('#QuibScrubber').css('background-image', "url('" + localStorage.getItem('environment') + "/Images/bottom_line.png')");
                    });
                    
                }
            }


            //slide left asynchronous

            function scrollDefferdleft() {
                var deferred = $.Deferred();

                if ((parseInt($('#quibContainer').width() - $('.quib-item').width())) == 0) {
                    var scrollval = $('.quib-container').width();
                    var slidesToClick = parseInt(Math.round($('#quibContainer').width() / $('.quib-item').width()));
                }
                else {
                    var slidesToClick = parseInt(Math.round($('#quibContainer')[0].getBoundingClientRect().width / $('.quib-item')[0].getBoundingClientRect().width) - 1);
                    var scrollval = ($('.quib-item').width()) * slidesToClick;
                }
                scrollByNew(-scrollval);

                setTimeout(function () {
                    deferred.resolve();
                }, 300);
                return deferred.promise();
            }

        });

        var quib = {};
        quib.GlobalDeclarations = {
            fnCurrentFlag: function () {
                var counter = 0;
                return function (isRequired) {
                    if (isRequired) {
                        counter++;
                    }
                    return counter;
                }
            }()
        };

        $('document').ready(ApplyStyleToQuibStream);

        $(window).resize(function () {
            resizemystream;
            if (resizemystream) {
                //var imgPath = '../Images/';
                //$('#imgPlayPause').attr('src', imgPath + imgNamePlay);
                //isRunning = false;
                //StopTimer();
                ApplyStyleToQuibStream();
                var totalScroll = $('#quib-list').scrollLeft();
                var offsetPos = $('#quib-list').offset();
                var prevcolPos = $('.HilightQuib').offset();
                $('#quib-list').scrollLeft(totalScroll + (prevcolPos.left - offsetPos.left));
            }
            
        });

        function ApplyStyleToQuibStream() {
            $('.popup_load').css('display', 'block');
            var Col = 0;
            var TotalHight = 0;
            var margin_bottom = 10;
            var margin_right = 0;
            var leftPos = 0;
            var maxqheight = $(".quib-container").height();

            // will get the exact column that fits in a screen
            $(".quib-container").children().each(function () {
                TotalHight = TotalHight + margin_bottom + $(this).height();
                var topPos = TotalHight - (margin_bottom + $(this).height());


                var quibheight = $(this).height();
                if (maxqheight < (quibheight + 50)) {
                   
                    $(this).find(".inner1 .panel-body").css('height', maxqheight - 7 + 'px');
                    $(this).find(".inner1 .panel-body").css({ "overflow-y": "auto","overflow": "auto","overflow-x": "hidden"});
                }

                if (TotalHight > $(".quib-container").height()) {
                    Col = Col + 1;
                    leftPos = ($(this).width() + margin_right) * Col;
                    TotalHight = $(this).height() + margin_bottom;
                    topPos = 0;
                }

                //if ((parseInt($('#quibContainer').width() - $('.quib-item').width())) == 0) {
                //    if (Col == 0) {
                //        if (quib.GlobalDeclarations.fnCurrentFlag(false) == 0) {
                //            $(this).attr('CurCol', 'CurCol');
                //        }
                //    }
                //    else {
                //        if (quib.GlobalDeclarations.fnCurrentFlag(false) == 0) {
                //            $(this).removeAttr('CurCol')
                //        }
                //    }

                //    if (Col == -1) {
                //        if (quib.GlobalDeclarations.fnCurrentFlag(false) == 0) {
                //            $(this).attr('PrevCol', 'PrevCol');
                //        }
                //    }
                //    else {
                //        if (quib.GlobalDeclarations.fnCurrentFlag(false) == 0) {
                //            $(this).removeAttr('PrevCol')
                //        }
                //    }

                //} else {

                //    if (Col == 0) {
                //        if (quib.GlobalDeclarations.fnCurrentFlag(false) == 0) {
                //            $(this).attr('PrevCol', 'PrevCol');
                //        }
                //    }
                //    else {
                //        if (quib.GlobalDeclarations.fnCurrentFlag(false) == 0) {
                //            $(this).removeAttr('PrevCol')
                //        }
                //    }
                //    if (Col == 1) {
                //        if (quib.GlobalDeclarations.fnCurrentFlag(false) == 0) {
                //            $(this).attr('CurCol', 'CurCol');
                //        }
                //    }
                //    else {
                //        if (quib.GlobalDeclarations.fnCurrentFlag(false) == 0) {
                //            $(this).removeAttr('CurCol');
                //        }
                //    }
                //}

                $(this).attr('colmValue', Col.toString());
                $(this).css('top', topPos + 'px')
                $(this).css('left', leftPos + 'px')
            });
            
            setTimeout(function () {
                $('.popup_load').css("display", "none");
            }, 500);
               
        };

    </script>
</head>

<body>
    @*loading overlay*@
    <div class="popup_load">
        <div class="fade12" ></div>
        <div>
            <img src=@Url.Content("~/Images/loadingImg.gif") class="popup_busy" alt="Processing..." />
        </div>
    </div>

    <div class="navbar navbar-default navbar-custom" style="margin-bottom: 5px;">
        <div class="header-align" style="">
            <div class="col-md-4 col-lg-3 col-sm-6 hidden-xs">
                <div class="top-poster">
                    <img src="~/Images/jawsMoviePoster_33x48.png" height="48" width="34" class="MoviePosterThumb" style="margin-left: -6px;" />
                </div>
              
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6 " style="position: relative; text-align: center">
                <div class="hidden-lg hidden-sm hidden-md" style="position: absolute; float: left; left: -22px; margin-top: -7px;">
                    <img src="~/Images/jawsMoviePoster_33x48.png" height="48" width="34" class="MoviePosterThumb" style="margin-left: -6px;" />
                </div>
                <div class="movie-time-panel" style="display: inline-block; justify-content: center; display: -webkit-flex; align-items: center;">
                    <a id="btnMinus" style="display: none">
                        <img src="~/Images/minus.png" />
                    </a>
                    <div class="movie-time-wrapper">
                        <input id="movieTimer" type="text" class="form-control movie-timer" value="QUIB ZERO" readonly="readonly"/>
                        <input id="quibTimer" type="text" class="form-control movie-timer" value="QUIB ZERO" readonly="readonly" style="display: none" />
                     
                    </div>
                    <a id="btnPlus" style="display: none">
                        <img src="~/Images/plus.png" />
                    </a>
                </div>
                <a class="btnPlay" style="float: right; position: absolute; top: 2px; right: 18px;" onclick="btnPlay();">.
                    <img id="imgPlayPause" src="~/Images/play.png" width="29" height="36" />
                </a>
            </div>
            <div class="col-md-4 col-lg-3 col-sm-6 hidden-sm hidden-xs"></div>
            <div class="col-md-4 col-lg-3 col-sm-6 hidden-sm hidden-xs">
                <ul class="nav " style="float: right; margin-top: -6px; margin-right: -34px;">
                    @if (TempData["UserId"] == "GUEST")
                    {
                        <li>
                            <button onclick="window.location.href='@Url.Action("Logout", "Login")'" class="btn-burgandy btn-guest-login">Log In</button>
                        </li>
                    }
                    else
                    {
                        <li>
                            <img src=@Url.Content("~/Images/avatar_thumb.png") height="48" width="48" id="ImgAvtrLogo" />
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        @************My stream****************@

        <div class="my-stream-panel col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="row my-stream-panel-wrap" style="overflow-y: hidden; height: 100%; height: calc(100% - 38px);">
                <div class="my-stream-compose" id="myStreamCompose">
                    <textarea id="txtComposeQuib" ></textarea>
                    <span class="close-stream" id="CloseStream">
                        <img src="~/Images/close.png" />
                    </span>
                </div>
                <div class="mystream-panel-header">
                    <div class="mystream-txt">
                        <img src="~/Images/myStream_red_01.png" style="width: 100%; height: 100%" />
                        <div style="position: relative; top: -26px">
                            <span>My Stream </span>
                            <span id="MyStreamCount">18</span>
                        </div>
                    </div>

                    <div class="mystream-time" style="float: left; background-color: white; width: 40%; text-align: center; height: 28px">
                        <button type="button" id="BtnSave" class="btn btn-default btn-burgandy" style="margin: 0 auto; text-align: center; padding: 4px 12px; font-size: 12px">Save</button>
                    </div>
                </div>
                <div style="background: #990000; padding-right: 3px;">
                    <div class="mystream-panel-content" style="height: calc(100% - 87px);">
                        <div id="myStreamPanel" style="padding-bottom: 100%">
                            @*LOADIG FROM MyStream.js*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mystream-footer" style="background-color: black; height: 38px; clear: both">
                <button type="button" class="btn btn-default btn-burgandy" data-toggle="modal" data-target="#postall-quib-modal" style="background-color: white; padding: 2px 9px; font-size: 12px; float: right; margin-right: 17px; margin-top: 9px; min-width: 90px">Post All</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="row">
                    <div class="quib-panel" style="position: relative; padding: 0 36px">
                        <div class="quib-panel-group" style="overflow: hidden; position: relative;">
                            <div id="quib-list" style="overflow: hidden; top: 0px; bottom: -18px; left: 0px; right: 0;">
                                <div class="quib-container" id="quibContainer" style="height: calc(100% - 118px); visibility:hidden">
                                    <div class='quib-item quibzero-row' >
                                        <div class='panel panel-default quib-item-inner'>

                                            <div class='panel-body' style='padding: 0'>
                                                <div class=" btn-choose-straeam">
                                                    <button type="button" class="btn btn-default btn-burgandy" style="text-align: center; padding: 4px 12px; font-size: 12px" id="btnChooseStream">Choose Streams</button>
                                                </div>
                                                <div class='quibzero-row-inner '>
                                                    <div class="quibzer0-title">Quib Zero</div>
                                                    <div class="quibzer0-txt">
                                                        These quibs
                                                        refer to the
                                                        movie as a whole.
                                                    </div>
                                                    <div class="quibzer0-movieimg" style="text-align: center">
                                                        <img src="~/Images/movie_posters/full_res/13_Chinatown.jpg" id="quibZeroMoviePoster" />
                                                    </div>
                                                    <div class="quibzer0-txt txt2 btnPlay">
                                                        <span style="position: relative; top: -13px;">PLAY TIMELINE QUIBS</span>
                                                        <span class="glyphicon glyphicon-play" aria-hidden="true" style="font-size: 48px"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @foreach (var quib in Model)
                                    {
                                     
                                            var avatar = "";
                                        if (quib.IsSeedQuib)
                                        {
                                            switch (quib.SeedQuibType)
                                            {
                                                case "exc":
                                                    avatar = "/Images/user32/seedExclaimation.png";
                                                    //avatar = "data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABOklEQVRYw+2XsWrCQBzGP6uDSyct0kk6RGhAuFLB1VnoQ+QdfIBODu4ieYJAwHcQnDM5CKEkiFOF65GkDglInQ56Gf+ROwLe9g33v9/33d2fu4YL/MHgeDC5eL0B2paFaRDAKQqMPY8M0PwAPikT35dLvEwmAIAn28bv5YKf7VZfAp3BQNGP/T6pTn3PAA9DRedJohegSFNFZ3GsF6DsOOdcL0DZ8cn3NSdAdHwzgP+Ov3c7/QC3GpUApPPyldSeQPlKagOQzrPDwQyAdJ4LYQZANqN0vzcDIJtRstkYSoBzFOdzlRLVAE6+DxFFlQAa91dxbQHaloU318U0CGAvFmSAFnXi62wG5jgAgN5wiCyOcVyt9CXwPBopussYqQ4ZIFyvFR0RPyfkLfiaz5ELgS5jiDyP3A3vfeAKd5h1K4V+TpsAAAAASUVORK5CYII=";
                                                    break;
                                                case "que":
                                                    avatar = "/Images/user32/seedQuestion.png";
                                                    //avatar = "data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAACRUlEQVRYw+2XP0gbYRTAf7YlBFLNIgkBRUWvcEpoCgfV7cASodglweDqFJw9FQJCJwen4CKZMkkgIC5OAUtQWqgQDQRiwMaLdGgNNmJtoEqlHYIHsWpyfyQd+qb37t73vt+9797jfW0x+E0L5VErN/8nAJ7ocbYLAqKi4JEk3F6v9vxUVfmyu0shFuMsnX6YDAxEIgR3dgB4PzND3GYjMTRENh7H4XIxGAwSSKUYXFrSBfD4Dbxt5OQKhXi1vExudZW9cJiLUgmAX5UKXzc2OFZVngUCAHQND/Pj6orK9rZ1GZDm5wE4yWZvfV9OJsmvrWn2y9nZpjPQEMApy9p5t/f13emnrq9rus3hYCASsQagQxQ1vXd09E6/cjJZZ7f39FgD8H1/X9PdXi+uUKipwM1KQ4CzdJrjXE6zL8rlW/3sglBnnx8dNQXQVB94NzmJqCicZLN31nnXxISmX1arfFpctA7g58EBe+HwvT69Y2Oanr/xP9wnlrRipyzTPTIC1LpiI1jLAZ4rClBL/YeFBV1rTQM4ZZl+vx+ArUjkr3J8cIDrr/8YjfJ5ZUX3elMAdkGg3++nmEqRn5szFMMUgKgonKoqW+PjhmOYAvBIEplo1EwIcwBP3W5D524JgFOWqRSLpjY3BdAhinwrFEwDtP0fy40ssgsCL2IxXmcyuofQm6JrLL8WUVHwTU0BtSHlXFUNV4OhDHgkqc7u9PkMZ8AQQGlzU9Mvq1UOEwnDAIaroHt6mk6fj8NEQvdtyBIAq6TlZfgHzdKwUcrZKTQAAAAASUVORK5CYII=";
                                                    break;
                                                case "equ":
                                                    avatar = "/Images/user32/seedEquals.png";
                                                    //avatar = "data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAaElEQVRYw2OcycDwn2EAAdNAWj7qgFEHjDpg1AGjDmBgYGBgwSYoFhbGYFJeTlWLthkbD84QYBytDUe8A7DmAn4HBwalyEiqWnQ+PZ14B/BpajIYJCbSxQGjuWDUAaMOGHXAqANGHQAAWdYN+0tRu40AAAAASUVORK5CYII=";
                                                    break;
                                                case "quo":
                                                    avatar = "/Images/user32/seedColon.png";
                                                   // avatar = "data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAB10lEQVRYw+2WTUsbURSGH6WoMJZBhIQQskkxhcD4gaCESpiFSBFB3IS4dCGSnQHxJ2QxILhSAu4dAtmFLgQlulAqUgRBaW2TRQ3SVAijBowb3Ygakpm58QMR5izPvPe8zzn3zsxtSsINbxjNb2nuADgADkDDAEFNI6hpQlpfLEY4k3kZAFckQuTkhMD4OGd7e5batq4uhjc3CScSXBQKtrU/iHQ9ODvLn7U1tsbGbM2/3nWdmZjAyGafByCrKn3T00LmAEMrK0guF+mBAa6Oj0WGa70FXxYWANiNx20L+WIxfKEQh6mUsLklgKyquBWFUi4nVPBzNArA2f6+sLklgHd0tKFC7u5uAM6PjhpaZ3oGWmUZgA6/n75kko9eL+0eD7/SaX4nEjX6FkkCoGdujsrMDJ2BAJenp+zG45YTtH0LWiSJ3qmph04Vhf/b26Yn/NPISJW2Xdf51t9vWt90Cwrr66aL/JOTNbm/Ozt1tW5FsWzQFKCYSvHv4KDus4ph1OR+6npdbblYfBoAwEY0Simfr8qV8nkO5+drJ7C8zPfFxarcdbnMj6UlS4AmkTthUNNolWUqhlHX/HHIqnq/RbnVVduvoRDAa8b7+h07AA6AA+AAvEbcAgITjqrNm3S6AAAAAElFTkSuQmCC";
                                                    break;
                                                case "col":
                                                    avatar = "/Images/user32/seedQuote.png";
                                                    //avatar = "data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAArElEQVRYw2OcycDwn2EAAdNAWj7qgFEHDG0HcKiqMhjOnMngdfYsg1ZXF9kOYCFXo2ZJCYNBYiIDAwMDg7iuLsPn+/cZHk+fTr8QkDQxQeGLGBiQZQ7ZDri1di0K/97y5WSZQ3YU3GlrY/j5/j2DiIEBw73lyxk+HjhAljmMo3XBqANGHTDqgCHrgNHacMBrwwd798LZv75+Jbs2pKgyks3MHK0NRx0w6gCKAQBoBDxBbN3dTQAAAABJRU5ErkJggg==";
                                                    break;
                                                default:
                                                    avatar = "/Images/user32/seedExclaimation.png";
                                                    //avatar = "data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABOklEQVRYw+2XsWrCQBzGP6uDSyct0kk6RGhAuFLB1VnoQ+QdfIBODu4ieYJAwHcQnDM5CKEkiFOF65GkDglInQ56Gf+ROwLe9g33v9/33d2fu4YL/MHgeDC5eL0B2paFaRDAKQqMPY8M0PwAPikT35dLvEwmAIAn28bv5YKf7VZfAp3BQNGP/T6pTn3PAA9DRedJohegSFNFZ3GsF6DsOOdcL0DZ8cn3NSdAdHwzgP+Ov3c7/QC3GpUApPPyldSeQPlKagOQzrPDwQyAdJ4LYQZANqN0vzcDIJtRstkYSoBzFOdzlRLVAE6+DxFFlQAa91dxbQHaloU318U0CGAvFmSAFnXi62wG5jgAgN5wiCyOcVyt9CXwPBopussYqQ4ZIFyvFR0RPyfkLfiaz5ELgS5jiDyP3A3vfeAKd5h1K4V+TpsAAAAASUVORK5CYII=";
                                                    break;
                                            }
                                        }
                                        else
                                        {
                                            //avatar = quib.AvatarBase64Thumb;
                                            avatar = quib.AvatarBase32ImagePath;//Todo anish
                                            
                                            if (avatar == "" || avatar == null || avatar == "undefined") {
                                                //avatar = "iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAANjr9RwUqgAAACBjSFJNAACHDwAAjA0AAPmTAACE5QAAe4IAAOt1AAA/tAAAIlh1a16cAAAD8GlDQ1BJQ0MgUHJvZmlsZQAASMeNVd1v21QUP4lvXKQWP6Cxjg4Vi69VU1u5GxqtxgZJk6XpQhq5zdgqpMl1bhpT1za2021Vn/YCbwz4A4CyBx6QeEIaDMT2su0BtElTQRXVJKQ9dNpAaJP2gqpwrq9Tu13GuJGvfznndz7v0TVAx1ea45hJGWDe8l01n5GPn5iWO1YhCc9BJ/RAp6Z7TrpcLgIuxoVH1sNfIcHeNwfa6/9zdVappwMknkJsVz19HvFpgJSpO64PIN5G+fAp30Hc8TziHS4miFhheJbjLMMzHB8POFPqKGKWi6TXtSriJcT9MzH5bAzzHIK1I08t6hq6zHpRdu2aYdJYuk9Q/881bzZa8Xrx6fLmJo/iu4/VXnfH1BB/rmu5ScQvI77m+BkmfxXxvcZcJY14L0DymZp7pML5yTcW61PvIN6JuGr4halQvmjNlCa4bXJ5zj6qhpxrujeKPYMXEd+q00KR5yNAlWZzrF+Ie+uNsdC/MO4tTOZafhbroyXuR3Df08bLiHsQf+ja6gTPWVimZl7l/oUrjl8OcxDWLbNU5D6JRL2gxkDu16fGuC054OMhclsyXTOOFEL+kmMGs4i5kfNuQ62EnBuam8tzP+Q+tSqhz9SuqpZlvR1EfBiOJTSgYMMM7jpYsAEyqJCHDL4dcFFTAwNMlFDUUpQYiadhDmXteeWAw3HEmA2s15k1RmnP4RHuhBybdBOF7MfnICmSQ2SYjIBM3iRvkcMki9IRcnDTthyLz2Ld2fTzPjTQK+Mdg8y5nkZfFO+se9LQr3/09xZr+5GcaSufeAfAww60mAPx+q8u/bAr8rFCLrx7s+vqEkw8qb+p26n11Aruq6m1iJH6PbWGv1VIY25mkNE8PkaQhxfLIF7DZXx80HD/A3l2jLclYs061xNpWCfoB6WHJTjbH0mV35Q/lRXlC+W8cndbl9t2SfhU+Fb4UfhO+F74GWThknBZ+Em4InwjXIyd1ePnY/Psg3pb1TJNu15TMKWMtFt6ScpKL0ivSMXIn9QtDUlj0h7U7N48t3i8eC0GnMC91dX2sTivgloDTgUVeEGHLTizbf5Da9JLhkhh29QOs1luMcScmBXTIIt7xRFxSBxnuJWfuAd1I7jntkyd/pgKaIwVr3MgmDo2q8x6IdB5QH162mcX7ajtnHGN2bov71OU1+U0fqqoXLD0wX5ZM005UHmySz3qLtDqILDvIL+iH6jB9y2x83ok898GOPQX3lk3Itl0A+BrD6D7tUjWh3fis58BXDigN9yF8M5PJH4B8Gr79/F/XRm8m241mw/wvur4BGDj42bzn+Vmc+NL9L8GcMn8F1kAcXhLu7iPAAAACXBIWXMAAA7EAAAOxAGVKw4bAAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAAEB0lEQVRYR9VXXWgUVxT+7szs/2bd7MamlTQx2KjVgCDU59pCHuqDUGhffJGiIIg/T1VQoVChhYRAEkEitlQsSvum0Db+IBKwEFNftEYkJBowbkxispvdze5md2Z6zoxjNnFndhNZpB/c7L3n3nvON+ece+6N6Or/Vsc7hPTq953h/0lAVgCvX8BfIxnNQ32WrQYrygGXW6CmVsbwwyzu305j6lkeQgisbXRh+2cBNLW4kZxVUci/2lABKiYQisgY+ieDniMxZBNZkrDzhDEHsAoNoXofDvd8gObNHqTimjlVBhWFIFKv4GL7NNr3jpLxAklc1GRqvJ0b912Ye7GA01+P4Mr5WYTrWFYeZQkEwxIudU7j1oVJGrFh66tLgdW5cLV7An9cjBv5UQ6OKzixxp/m8VfvCxpxljkZt8BrFPz+w3PEKR+kMo5wJBAIyfjpJBtnLZUYt8BrZfzy3ST8QWcv2M5SciO7oGPsfpJHpnBFEHjYn4BQnPfaEpBdAo8HM9RjBasjwBj5N+dYI2wJSDTzcoozfjXGFzETy1Me2OuwDxAdbTcVnreF2ydBd6g0tgRUVUfjRg/1Kisob4Ktko5NbmgFewb2BMj7zR8zAQ6gwyc4wBXwYO37CjSHb7APASGTUrHrQJR6q/GCii8PRTGfdN7rSCCb1vHVUSJgVJOVkNDgDXmw65ta5DLO3nMkwEjNqOi81Uw9VlQJCXNNx/X1SBinyBllCXAueL0Suu+0IFjHdwErZSNmki02luURafTg7GALBKW+ppKoDMoS8PjMo8h/z/69Afs7GtCwxUcjNshkTEJN2/w4eKYJXTebUcjpEJKAUsExtn0PcPUKRRVcpau1vsmFHZ8HMEfhUKi0evySUSnn4vSJZCMUlsmoZsSbj1yIruL+K0n46Db8ZGcA8SnVthaUJMDPrdlpFSd2j0HN8fNGR+unYez7vh61URnZec0IjaWU7w2ZouMlYpOxAs4dn8Dw3Tlj7sOtNTh1qQELaXPPcrxBgI0/ebyAH/eM0si6gnkJNxXrNgexoy2I9a1eRN5TSKpjZkLF6IMsBvqSmBxJ07ri25P3CfQMfARBxW05iSUEFLKXSmk41jbMI2rLY2gRsVoxeG1xKwbliyzh5wctSL1cGo4lSRikmB//Yox6pYwzWMZb+At5TXFjGc+V2kdyVUX7/nGsWfZUe03ARw+H3+jppRfYR6WUvC0kPLqTwNC97JLTYRDgJJIoq//snbJEVQAbldF7LGY87S0Y1tx01vsuzBqC6ny9BYH4eAYj9H+F9UgxCPDxuXk5YQ2rCNMLN36NU4EzbUns/gwVkPj4vCGoPgQGr6Xg9pqelriiDQ2wcRZU0/2LyKdzxnEXAvgPC4hOexK1PMwAAAAASUVORK5CYII=";
                                                avatar = "/Images/user32/AvatarBase32.png";
                                            }
                                        }
                                        
                                        <div class="quib-item HilightQuibZero">
                                            <div class='panel panel-default quib-item-inner inner1'>
                                                <div class='panel-body' style='padding: 0;'>
                                                    <div class="quib-compose-wrapper">
                                                        <div class="quib-compose-header">
                                                            <img src="@avatar" class="avatar-quibcomposer" />
                                                            <span class="composer-name" style="font-weight: bold">@quib.DisplayName</span>
                                                            <span id="QuibId" class="hide">@quib.Id</span>
                                                            <div class="quib-compose-timer-wrapper">
                                                                @if (quib.IsQuibZero == true)
                                                                {
                                                                    <input type="text" class="form-control quib-compose-timer" value="QUIB ZERO" readonly="true" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="text" class="form-control quib-compose-timer" value="@quib.Time" readonly="true" />
                                                                }
                                                            </div>
                                                            <div class="compose-side-header" style="float: right">
                                                                @*<a class="img-tag">
                                                                        <img src=@Url.Content("~/Images/tag.png") />
                                                                    </a>*@
                                                                <a class='img-bump'>
                                                                    <img src=@Url.Content("~/Images/bump-red.png") />
                                                                </a>
                                                            </div>
                                                            <div class="drop-down-icon">
                                                                <ul>
                                                                    <li onclick="FollowUser(@quib.UserId)"  data-toggle="modal" data-target="#follower-modal"   >Follow</li>
                                                                    <li onclick="GotoProfile(@quib.UserId)">See Profile</li>
                                                                    <li onclick="GotoQuibStack(@quib.UserId, '@quib.DisplayName')">See Stream</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="quib-composer">@quib.Body</div>
                                                        @if (false)
                                                        {
                                                            <div class='img-bump'>
                                                                <a href='#'>
                                                                    <img src=@Url.Content("/Images/expand-red-01.png") />
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="prev-arrows">
                            <span class=" left" style="left: 10px">
                                <img src=@Url.Content("~/Images/left-arrow.png") />
                            </span>
                        </div>
                        <div class="next-arrows">
                            <span class="right " style="right: 10px">
                                <img src=@Url.Content("~/Images/right-arrow.png") />
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="rating-quib" style="">
            <div id="divTags" class="panel-body" style="font-size: 12px">
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0 5px;">
                    <h5>This is quib zero is about</h5>
                    <input type="checkbox" id="1" />
                    People, Performance<br>
                    <input type="checkbox" id="2" />
                    Story, Dialogue<br>
                    <input type="checkbox" id="3" />
                    Directing, Movement<br>
                    <input type="checkbox" id="4" />
                    Cinematography, Editing<br>
                    <input type="checkbox" id="5" />
                    Music, Sound<br>
                    <input type="checkbox" id="6" />
                    Animation, Effects<br>
                    <input type="checkbox" id="7" />
                    Costume, Set, Location<br>
                    <input type="checkbox" id="8" />
                    Cameras, Film, Process<br>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0 5px;">
                    <h5>This is quib zero </h5>
                    <input type="checkbox" id="9" />
                    Insightful<br>
                    <input type="checkbox" id="10" />
                    Funny<br>
                    <input type="checkbox" id="11" />
                    Harsh<br>
                    <input type="checkbox" id="12" />
                    R-Rated<br>
                    <h5>Flag this quib zero as:</h5>
                    <input type="checkbox" id="13" />
                    Spoiler<br>
                    <input type="checkbox" id="14" />
                    Incorrect<br>
                    <input type="checkbox" id="16" />
                    Spam<br>
                    <input type="checkbox" id="17" />
                    Troll<br>
                </div>

                <div class="quib-rating col-md-12 " style="clear: both">
                    <span style="float: left">Rate this quib zero:</span>
                    <div class="quib-rating-img" style="float: left; font-size: 14px; margin-left: 20px">
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </div>
                    <button style="float: right" class="btn btn-default btn-stream" id="btnDone">Done</button>
                </div>

            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" style="height: 56px; text-align: center; border: 0; background-color: #FFFFCC">
        <div class="container-fluid">
            <div class="scrubber-wrapper" style="display: flex; justify-content: center; padding-top: 5px; background-color: #FFFFCC">
               
                <div class="slider" style="padding: 1px 0">
                    <div class="movieSliderWrapper">
                        <div id="movieSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all;" style="height: 16px; border: none; background-color: #FFFFCC">
                            <span id="MovieScrubber" class="ui-slider-handle ui-state-default ui-corner-all movieSlider-span" style=""></span>
                        </div>
                    </div>
                    <canvas id="timelineCanvas" style="height: 14px; width: 100%; background-color: #FFFFCC"></canvas>
                    <div class="quibSliderWrapper">
                        <div id="quibSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="height: 16px; border: none; background-color: #FFFFCC">
                            <span id="QuibScrubber" class="ui-slider-handle ui-state-default ui-corner-all quibSlider-span"></span>
                        </div>
                    </div>
                </div>
                <div id="btn-resynquib" style="float: left; margin-left: 20px; padding-top: 2px">
                    <a>
                        <img src="~/Images/re%20sync.png" />
                    </a>
                </div>
            </div>
        </div>
    </nav>

    @*MESSAGE POP-UPS*@
    <div class="modal fade" id="guest-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Please register to use this feature.
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-custom" onclick="window.location.href = '@Url.Action("Logout", "Login")'">Register now</button>*@
                    <button type="button" class="btn btn-custom" onclick="window.location.href = '@Url.Action("Logout", "Register")'">Register now</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">No thanks</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="postall-quib-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to post your quibs?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" id="btnPostAll">Yes</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="post-quib-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to post your quib?
                </div>
                <input type="hidden" id="PostQuibId" />
                <input type="hidden" id="PostQuibBody" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" onclick="UpdateQuibPostedDate($('#PostQuibId').val(), $('#PostQuibBody').val())">Yes</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-quib-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this quib?
                </div>
                <input type="hidden" id="DeleteQuibId">
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" id="btnDeleteQuib" onclick="ConfirmDeleteQuibById($('#DeleteQuibId').val())">Yes</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="end-movie-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    The end. We hope you are enjoying Quib!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" data-dismiss="modal" onclick="StopTimer();$('#imgPlayPause').attr('src', imgPath + imgNamePlay);">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="leave-compose-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to play movie without saving a quib zero?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" onclick="leaveComposeModalYes()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="save-quib-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Please save your quib!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" onclick="$('#save-quib-modal').modal('hide');">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bump-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    You are bumping this quib into My Stream. Bumping lets you curate a collection of quibs.
                </div>
                <input type="hidden" id="BumpQuibId" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" id="btnOKBumpDlg">OK</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-bump-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this quib?
                </div>
                <input type="hidden" id="DeleteBumpQuibId">
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" onclick="ConfirmDeleteBumpQuibById($('#DeleteBumpQuibId').val())">Yes</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>



     <div class="modal fade" id="follower-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                   You have successfully followed this person
                </div>
                <input type="hidden" id="followerId">
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom"  data-dismiss="modal" >Ok</button>                   
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
$(document).ready(function() {
    BindBumpClick();
  
});
    </script>
</body>
</html>
